# Forzar index.html como página de inicio y desactivar index.php
DirectoryIndex index.html
FallbackResource /index.html


# Evitar listado de directorios
Options -Indexes

# Deshabilitar LiteSpeed Cache temporalmente
<IfModule LiteSpeed>
CacheDisable public /
CacheDisable private /
</IfModule>

# Forzar navegadores y proxies a no guardar caché
<FilesMatch "\.(html|htm|js|css)$">
  FileETag None
  <IfModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </IfModule>
</FilesMatch>
